/bin
/.DS_Store

src/.DS_Store

src/jp/.DS_Store

src/jp/co/.DS_Store

src/jp/co/excite_software/.DS_Store

src/jp/co/excite_software/s_ikeda/.DS_Store

src/jp/co/excite_software/s_ikeda/reversi/.DS_Store
